@tailwind base;
@tailwind components;
@tailwind utilities;


.slidein {
    animation: slideIn .3s ease forwards;
}


@keyframes slideIn { 
    0% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 1;
        top: 100%;
    }
 }